<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/about-styles.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>About Us</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">ClickCast</a>
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link" href="/about">About</a>
        </div>
    </nav>

    <div class="container mt-5">
        <h1>About Us</h1>
        <p>
            Welcome to ClickCast, your go-to platform for insightful news and information! Founded by tech enthusiasts Aayush Banakar and Anas Bavanai, we are dedicated to bringing you the latest articles and insights from various fields. Our mission is to provide a user-friendly experience where you can explore a diverse range of topics, stay informed, and engage with a community of like-minded individuals. With a passion for technology and a commitment to excellence, we strive to deliver high-quality content that keeps you connected and informed. Join us on this exciting journey as we explore the ever-evolving world of information!
        </p>
        
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                  
                    <div class="card-body">
                        <h5 class="card-title">Aayush Banakar</h5>
                        <p class="card-text">Tech Enthusiast, Team Leader</p>
                        <a href="https://instagram.com/iamaayush_200" class="btn btn-primary">Instagram</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
              
                    <div class="card-body">
                        <h5 class="card-title">Anas Bavanai</h5>
                        <p class="card-text">Full Stack Developer, Web Enthusiast, Team Member</p>
                        <a href="https://instagram.com/anas_bavani" class="btn btn-primary">Instagram</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-info mt-4">
            <h4>Contact Us</h4>
            <p>Email: <a href="mailto:enthusiadev@gmail.com">enthusiadev@gmail.com</a></p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
